

.container {
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.year {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  background: #fff;
}

.d .year,
.c .year {
  bottom: 0;
  top: auto;
}

.year span {
  font-size: 1.2em;
}

.map {
  width: 100vw;
  height: 100vh;
  border: 10px solid #fff;
}
