.container {
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.year span {
  font-size: 1.2em;
}

.year {
  position: absolute;
  top: 0;
  right: 0;
  left: initial;
  width: 50px;
  width: fit-content;
  padding: 10px;
  z-index: 1;
  background: #fff;
}

.d .year,
.c .year {
  top: 0;
  right: 0;
  bottom: auto;
}

.map {
  height: 100%;
  width: 100%;
}

/**
* Tweakpane
*/
:root .tp-dfwv {
  z-index: 1;
  width: 340px;
}
