.input-group {
  padding: 5px;
}
.input-group label {
  margin-bottom: 5px;
  display: block;
}
.button-reset {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  scale: 1;
}
.button-reset:hover,
.button-reset:focus {
  scale: 1.1;
}
